* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  font-family: var(--plus-jakarta-sans);
}

:root {
  --primary-color: #56c4f2;
  --secondary-color: #32a9dc;
  --third-color: #00b3ff;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --rubik: "Rubik", sans-serif;
}

/* navbar */
.nav-link {
  color: gray;
}

.nav-link.active {
  color: var(--primary-color) !important;
  font-weight: 600;
}
.bx-menu {
  color: var(--primary-color);
}
.navbar {
  z-index: 9;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.068);
}
.navbar-toggler.active {
  transform: rotate(90deg);
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link:hover {
  color: var(--primary-color);
}
.sign .login button {
  background: #56c4f2;
  border: 1px solid #56c4f2;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
}
.sign .signup button {
  padding: 6px 16px;
  border: none;
  border: 1px solid #56c4f2;
  color: var(--primary-color);
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  background-color: transparent;
}

#user {
  font-size: 40px;
  color: var(--primary-color);
}

/* hover */
.sign ul li a:hover {
  color: var(--primary-color);
}
.sign .login button:hover {
  background: var(--secondary-color);
}
.sign .signup button:hover {
  color: white;
  background: var(--secondary-color);
}

/* hover */
/* navbar */

/* hitung */
.hitung-wrapper .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 500px;
  padding: 100px 0;

}

.hitung-wrapper .row .form .box-hitung {
  width: 100%;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.hitung-wrapper form {
  font-size: 14px;
}
.hitung-wrapper h1 {
  font-size: 32px;
  color: var(--primary-color);
  text-align: center;
}

.hitung-wrapper .form input {
  padding: 8px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  width: 100%;
  margin: 5px 0 10px 0;
  color: var(--primary-color);
}
.hitung-wrapper .form #jenis-kelamin {
  padding: 10px 10px;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: 16px;
  outline: none;
  width: 100%;
  margin: 5px 0 12px 0;
  color: var(--primary-color);
}

.hitung-wrapper .form button {
  width: 100%;
  margin-top: 30px;
}

.hitung-wrapper .form button[type="button"] {
  background: #56c4f2;
  border: 1px solid #56c4f2;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 500;
}

/* hover */
.hitung-wrapper .form button[type="button"]:hover {
  background-color: var(--secondary-color);
}
/* hover */

/* hitung */

/* footer */
.footer {
  padding-top: 100px;
  background-color: #d1eeff36;
}
.footer .footer-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}
.footer ul {
  padding: 0;
}
.footer .footer-wrapper .col img {
  margin-bottom: 20px;
}
.footer .footer-wrapper .col p {
  margin-bottom: 20px;
}
.footer .footer-wrapper .col .email,
.footer .footer-wrapper .col .phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer .footer-wrapper .col .email i,
.footer .footer-wrapper .col .phone i {
  padding-top: 4px;
}

.footer-wrapper .col .phone {
  margin-top: 8px;
}
.footer-wrapper .col .email a,
.footer-wrapper .col .phone a {
  text-decoration: none;
  color: black;
}
.footer .footer-wrapper .col h3 {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.footer .footer-wrapper .col ul li {
  list-style-type: none;
}
.footer .footer-wrapper .col ul li a {
  text-decoration: none;
  color: black;
}
.footer .footer-wrapper .col .form-langganan input {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  outline: none;
}
.footer .footer-wrapper .col .form-langganan input::placeholder {
  color: #a0a1a2;
}
.footer #button-langganan {
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
/* footer hover */
.footer .footer-wrapper .col a:hover {
  text-decoration: none;
  color: var(--primary-color);
}
.footer .footer-wrapper .col .email:hover i {
  color: var(--primary-color);
}
.footer .footer-wrapper .col .phone:hover i {
  color: var(--primary-color);
}
.footer #button-langganan:hover {
  background-color: var(--secondary-color);
}
/* footer hover */

/* ex-footer */
.ex-footer {
  padding: 5px 0;
  border-top: 1px solid var(--primary-color);
  margin-top: 100px;
}
.ex-footer-wrapper .icon i {
  color: var(--primary-color);
  font-size: 22px;
}
.ex-footer-wrapper .copyright p {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: end;
  margin: 0;
}
.ex-footer-wrapper .sosmed {
  display: inline-block;
}

/* ex-footer */
/* footer */

/* responsive */
@media (max-width: 991.98px) {
  .hitung-wrapper .row {
    width: 100%;
  }
  .hitung-wrapper .form button {
    width: 100%;
    margin-top: 20px;
  }
  .hitung-wrapper .row .form .box-hitung {
    padding: 35px 25px;
  }
}

/* footer */
.footer {
  padding-top: 50px;
}
.ex-footer-wrapper .copyright p {
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
  text-align: center;
}
.ex-footer-wrapper .sosmed {
  display: none;
}
.ex-footer {
  padding: 5px 0;
  border-top: 1px solid var(--primary-color);
  margin-top: 50px;
}
.ex-footer-wrapper .copyright p {
  display: block;
}
/* footer */
/* responsive */
